<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- PostgreSQL Server, Docker -->
		<add key="SMS_PostgreSQL_Host" value="localhost" />
		<add key="SMS_PostgreSQL_Port" value="5432" />
		<add key="SMS_PostgreSQL_Schema" value="public" />
		<add key="SMS_PostgreSQL_Database" value="DMI_SMS" />
		<add key="SMS_PostgreSQL_UserID" value="root" />
		<add key="SMS_PostgreSQL_Password" value="root" />

	</appSettings>
</configuration>